@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Work+Sans:ital,wght@0,100;0,300;0,600;0,800;1,400;1,900&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif; */

.bg-darker {
    background-color: #151418 !important;
}

.text-dull-white {
    color: rgb(224, 224, 224) !important;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.brand-name {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    letter-spacing: -0.05rem;
}

a {
    color: rgb(44, 220, 255);
}

#navbarNav a {
    color: rgb(150, 150, 150);
    font-weight: 600;
}
#navbarNav a.active {
    color: rgb(238, 238, 238);
}

.bg-image {
    overflow: visible;
}

ul.navbar-nav {
    align-items: center;
}

/* form.formstyle label, input{
    width: 100%;
}

form.formstyle input{
    margin: 0 0 1rem 0;
    background-color: black;
    border: none;
    border-radius: 5px;
    border: 1.5px rgb(81, 81, 81) solid;
    padding: .2rem .4rem;
} */

.btn-light {
    font-weight: 600 !important;
    /* color: black !important; */
}