.main-bg h1 {
    font-size: 5em !important;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    letter-spacing: -0.3rem;
}

.main-bg q {
    font-size: 1.5em;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

div.nav {
    justify-content: space-between;
    font-weight: 600;
}

div.nav p>a {
    text-decoration: none;
    color: white;
}

.home-nav a {
    color: rgb(185, 185, 185) !important;
}
.home-nav .active {
    color: white !important;
}