.row.profile {
    align-items: center;
}

.row.profile img {
    max-height: 48vh;
}

table {
    border-collapse: separate;
}

tbody, td, tfoot, th, thead, tr {
    border: none;
    border: 2px dashed rgb(63, 58, 58);
    border-radius: 5px !important;
}

.table-bordered>:not(caption)>*>* {
    border-width: unset;
}